// Specific CSS for your home-page

// .display-categories{
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
// }

.category-card{
  padding: 1rem;
}

.category-img{
  height: 100px;
  width: 100px;
}
