<div class="footer">
<%# <div class="dropdown-divider"></div> %>
  <div class="footer-copyright">
    © 2021 La Casona. Todos los derechos reservados.
  </div>
  <div class="footer-links">
    <%# <a href="https://github.com/pabloems" target="_blank"><i class="fab fa-github"></i></a> %>
    <%# <a href="#" ><i class="fab fa-instagram"></i></a> %>
    <%# <a href="#"><i class="fab fa-facebook"></i></a> %>
    <%# <a href="#"><i class="fab fa-twitter"></i></a> %>
    <a href="mailto:pablomartinezsepulveda@hotmail.com" target="_blank"><i class="fas fa-envelope-square fa-sm"></i></a>
    <a href="https://www.linkedin.com/in/pablo-mart%C3%ADnez-sep%C3%BAlveda-2b485a201/"  target="_blank"><i class="fab fa-linkedin fa-sm"></i></a>

  </div>
</div>
