<h1 class ='text-center mt-5'>Restaurant App</h1>

  <% if @products.image.attached? %>
    <%= image_tag product.image %>
  <% end %>


  <%= link_to  "Crear tienda", new_store_path %>
  <%= link_to  "solo admin", admin_dashboard_path %>
<%# <%= link_to  "Crear usuario", new_user_session_path %>