
<div class= "container" >

<h1 class ='text-center title-style '>Categorías</h1>
  <div class="d-flex flex-column">
    <div class="cards-category align-items-center mt-3 mb-2">
      <% @categories.each do |category| %>
        <%= link_to(category_path(category)) do %>
          <% if category.photo.attached? %>

            <div class="category-card" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= cl_image_path category.photo.key ,crop: :fill %>)">

              <h3 class = 'category-name '><%= category.name %></h3>
            </div>
          <% else %>
            <div class="category-card category-img">
              <h3 class = 'category-name '><%= category.name %></h3>
            </div>

          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>