<h1>Renderizar elementos de orden</h1>

<%# 
<% @order.cart.cart_items.each do |item| %>

      

      <%# <div class="d-flex align-items-center"> %>
          <%# <% if item.product.image.attached? %> %>
            <%# <% item.product.photos.first(1).each do |photo| %> %>
              <%# <%= cl_image_tag item.key, alt: item.product.name, class: "order-img" %> %>
     
        <%# <% else %> %>
          <%# <div class="image-content"> %>
              <%# Foto cargada en product_card.scss %>
              <%# <div class="background-image"></div> %>
          <%# </div> %>

     <%# <% end %> %>
      <%# <% end %> %>
 %>