.cards-category{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 20px;
}


@media(max-width: 992px) {
  .cards-category {
    grid-template-columns: 1fr 1fr;
  }

}

@media(max-width: 768px) {
  .cards-category {
    grid-template-columns: 1fr 1fr;
  }

}




.category-card{
  height: 250px;
  width: 100%;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
  transition-property: transform 0.2s ease-in-out;
  transition-duration: 500ms;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover{
    background-color: #F5EFEF;
    transform: scale(1.1);
    box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.05), 4px 4px 20px rgba(0, 0, 0, 0.05);
  }
}

.category-name{
  text-align: center;
  color: #F5EFEF;
  font-size: 1.5em;
  text-decoration: none;
  line-height: 200px;

}
.category-img{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("imagen-no-disponible.jpg");
}


