

.empty-orders{
  display: flex;
  align-items: center;
  justify-content: center;
}

p.cart-navbar{
  font-size: 0.6em;
}

.no-decoration{
  text-decoration: none!important;
  &:hover {
    text-decoration: none!important;
  }
  &:focus {
    text-decoration: none!important;
  }
}

.user-icon{
  text-decoration: none;
  color: #000000;
}


.over-title{
  color: #a3a3a3
}

.search_form{
  align-items: center;
}


.search-placeholder{
  border-radius: 5px;
}

.search-button{
  outline:none;
}

