.navbar-lewagon {
  justify-content: space-between;
  background: #F4F4F4;
  border-bottom: 1px solid #E6E6E6;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.empty-orders{
  display: flex;
  align-items: center;
  justify-content: center;
}

p.cart-navbar{
  font-size: 0.6em;
}

.no-decoration{
  text-decoration: none!important;
  &:hover {
    text-decoration: none!important;
  }
  &:focus {
    text-decoration: none!important;
  }
}




.user-icon{
  text-decoration: none;
  color: #000000;
}