.navbar-custom {
    background-color: #BA171B;
}


/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #000000;
}

 .custom-toggler.navbar-toggler {
  border-color: #a3a3a3;
  opacity: 0.9;
}


.custom-toggler .navbar-toggler-icon {
            background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(163, 163, 163)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #000000;
}

/* for dropdowns only */
.navbar-custom .navbar-nav .dropdown-menu {
    background-color: #108D59;
}

/* dropdown item text color */
.navbar-custom .navbar-nav .dropdown-item {
    color: #000000;
}

/* dropdown item hover or focus */
.navbar-custom .navbar-nav .dropdown-item:hover,
.navbar-custom .navbar-nav .dropdown-item:focus {
    color: #eeeeee;
    background-color: rgb(0, 0, 0);
}



















.empty-orders{
  display: flex;
  align-items: center;
  justify-content: center;
}

p.cart-navbar{
  font-size: 0.6em;
}

.no-decoration{
  text-decoration: none!important;
  &:hover {
    text-decoration: none!important;
  }
  &:focus {
    text-decoration: none!important;
  }
}

.user-icon{
  text-decoration: none;
  color: #000000;
}


.over-title{
  color: #a3a3a3
}

.search_form{
  align-items: center;
}


.search-placeholder{
  border-radius: 5px;

}

.search-button{
  outline:none;
}

