.cards-product-display{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Media Query formato responsive
@media(max-width: 992px) {
  .cards-product-display{
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards-product-display {
    grid-template-columns: 1fr  ;
  }
}

.product-card{
  width: 400px;
  height: 275px;
  background-color: rgb(253, 0, 0);
  border: solid 1px;
  border-radius: 5px;
}

.product-image{
  width: 100%;
  background-size: cover;
  height: 50%;
}

.background-image{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("image_product_card.jfif");
  width: 100%;
  height: 50%;
  background-size: cover;
}