// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// Quitar formato de link (subrayado)
a {
  text-decoration: none!important;
  &:hover {
    text-decoration: none!important;
  }
  &:focus {
    text-decoration: none!important;
  }
}

.navbar {
  text-decoration: none !important;
}


// Formato de titulos
.title-style{
  margin-top: 10px;
  text-align: center;
}

@import "active_admin";