<div class="container">

  <h1 class = 'title-style'><%= @category.name %></h1>
  <div class="d-flex flex-column">

    <div class="align-items-center mt-3 mb-2">
      <div class=" cards-product-display ">
        <%= render "products/product_card" %>
      </div>


      <%# Muestra paginación solo si existe más de 1 pág %>
      <div class="d-flex justify-content-center m-3">
        <%== pagy_bootstrap_nav(@pagy)  if @pagy.pages > 1 %>
      </div>

    <%# cards-product %>
    </div>

  </div>
</div>
